@import '_base';

.admin-page {
  display: flex;
  flex: 1;

  .mat-drawer-container {
    flex: 1;

    .mat-sidenav {
      flex: 1;
      min-width: 20vw;
      padding: $spaceBase;

      .mat-drawer-inner-container {
        display: flex;
        flex-flow: column nowrap;

        .admin-page__version-tag {
          margin-top: auto;
          text-align: right;
          color: $grey;
        }
      }
    }

    .mat-sidenav-content {
      flex: 1;
      padding: $spaceBase;
    }
  }
}
