<mat-sidenav-container>
  <mat-sidenav [opened]="true"
               [mode]="'side'">

    <mat-nav-list>
      <mat-list-item>
        <mat-icon mat-list-icon>assignment</mat-icon>
        <a matLine
           routerLink="/admin/project">Projects</a>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>bookmarks</mat-icon>
        <a matLine
           routerLink="/admin/suites">Suites</a>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>autorenew</mat-icon>
        <a matLine
           routerLink="/admin/runs">Runs</a>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>done_all</mat-icon>
        <a matLine
           routerLink="/admin/tests">Tests</a>
      </mat-list-item>

      <mat-list-item>
        <mat-icon mat-list-icon>compare_arrows</mat-icon>
        <a matLine
           routerLink="/admin/baselines">Baselines</a>
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
