@import '_base';

.approval-page {
  flex: 1 1 auto;
  background-color: $backgroundColor;

  .mat-sidenav-container {
    padding: $spaceBase;

    .mat-sidenav-content > .mat-card {
      margin-top: $spaceBase;
      text-align: right;
      color: $grey;
    }
  }
}
