@import '_base';

:host {
  display: flex;
  min-height: 100vh;
  max-width: 100vw;
  flex-direction: column;
  overflow: hidden;
}

.mat-toolbar {
  @include zIndex('header');

  position: sticky;
  top:0;

  // .mat-icon {
  //   margin-right: $spaceS;
  // }

  .mat-toolbar__left {
    flex-grow: 1;
    flex: 1;
    flex-direction: row
  }

  .mat-toolbar__right {
    justify-content: flex-end;
  }
}
